
body{
font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight:400;
  background-color: #FFF;
  
}


#main-container{
  margin: auto;
  height: auto;
 
}

header{
max-width: 100%;
height: 48px;
  margin: auto; 
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
/* background-color: red; */
}
  
  header #logo{
max-width: 40px;
height: 40px;
}
  
header #button{
  height:inherit;
  padding: 10px;
  border-radius: 8px;
  border:none;
  background-color: #E8EFF2;
  color: #162542;
  font-size:16px;
  
}

header #button:hover{
background-color:#162542;
  color: #FFF;
}

.first-container{
  height: auto;
  margin-top: auto;
  display:flex;
  flex-wrap: wrap;
}

  .container1{
  height: auto;
  margin-top: 5%;
  
}


#icon-container{
  background-color: #F16718;
  border:none;
  border-radius:10px;
  
}
  
.icon-resize{
width: 32px;
  height: 25px;
  padding: 15px;
}



  #text1{
  color:#162542;
  font-size:48px;
    font-weight:800;
max-width: 322px;
}
  
  #text1 #span{
font-size: 16px;
    font-weight:400;
line-height: 26px;
  position: relative;
  top: 15px;
  color:#7B8BAD;
}
  
#text1 #button {
  height:48px;
  padding: 8px;
  border-radius: 8px;
  border:none;
  background-color: #F16718;
  color:#FFF;
  font-size:16px;
}

#text1 #button:hover{
  background-color:#ED872D;
}



  #release-date{
  font-size:16px;
  color:#7B8BAD;
  margin-left: auto;
}
  
  .button-release-date-align{
  display: flex;
  align-items: center;
}


  
  #img{
  max-width: 100%;
  height: 331px;
  border-radius: 10px;
    margin-top: 50px;
}



#button-like-edge-right{
  position: absolute;
width: 120px;
height: 240px;
  right: 0px;
  background-color: #E8EFF2;
  border-radius: 20px 0px 0px 10px;
margin: 100px 0px 0px 30px;
  
  }
  
/* second container */

 .container2{
   margin-top: 50px;
   display:flex; 
   flex-wrap: wrap;
 }
  
 .container2 #button-like-edge-left{
   width: 120px;
height: 240px;
   background-color: #E8EFF2;
  border-radius: 0px 20px 20px 0px;
  margin: 0px;

  }

  
.container2 #phone-and-keyboard{
max-width: 100%;
height: 193px;
border-radius:20px;
  margin-left: auto;
}
  
#phone-and-keyboard-overlay {
background: #f16718;
height: 193px;
max-width: 100%;
margin: -193px 0px 0px auto;
opacity: 1;
mix-blend-mode: multiply;
border-radius:20px;
}


 .container2 #glass-and-keyboard{
 max-width: 100%;
 height: 193px;
 margin-left: 30px;
 border-radius: 20px;
 
 }

.container2 #text{
  font-size:32px;
  line-height: 36px;
  font-weight:800;
   text-align: left;
  color:#162542;
width: 255px;
height: 108px;
  
}
  
.container2 #text #span{
  font-size:16px;
  font-weight:400;
  line-height: 26px;
  color:#7B8BAD;
height: 104px;
  margin-top: 20px;
  
} 

/*   end of second container */



/* bottom container begins here*/

#bottom-grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  gap: 30px;
  margin-top:200px;
    
}
  
.grid-item1 {
  color:#162542;
  border:none; 
  width: 300px;
}
.grid-item2 {
  color:#162542;
  border:none; 
width: 300px;
}

.grid-item3 {
  color:#162542;
  border:none; 
width: 300px;
}

.grid-item4 {
  color:#162542;
  border:none; 
width: 300px;
}
  
  
  
#bottom-grid-container #span1{
height: 56px;
  margin-top: 30px;
  font-size:24px;
  font-weight:800;
  color:#162542;
  font-weight: 900;
  line-height: 28px;
 
}
  
#bottom-grid-container #span2{
height: 104px;
  margin-top: 20px;
  font-size:16px;
  font-weight:400;
  color:#7B8BAD;
  line-height: 26px;
}

 
footer{
  font-size:16px;
  color:#7B8BAD;
height: 26px;
text-align: center;
margin-top:50px; 

}
  

/* phone view*/

@media only screen and (min-width:250px) and (max-width: 480px) {

  #main-container{
    margin: 23px auto 0px auto;
  }
  
header #button {

  position: absolute;
  right:24px;
}
  #text1{
    width: 327px;
  font-size:48px;
}
  #text1 #span{ 
    font-size:16px;
  }
  #text1 #button {
    padding: 10px;
  }
  #release-date{
/*   margin-left: 8px; */
   position: absolute;
  right:25px
}
  #img{
    position: relative;
    width: 450px;
    height:331px;
    right: -5px;
border-radius: 10px 0px 0px 10px;
  } 
  
  #button-like-edge-right{
    display:none;
  }
  
  .container2 #button-like-edge-left{
    display: none;
  }
  
  .container2 #phone-and-keyboard{
    position: relative;
    left:-9px;
    width: 132px;
    border-radius:0px 20px 20px 0px;
}
  
#phone-and-keyboard-overlay {
  position: absolute;
  left:0px;
width: 132px;
margin-top: -196px;
  border-radius:0px 20px 20px 0px;
}


 .container2 #glass-and-keyboard{
 max-width: 100%;
/*  margin-left: 10px; */
   position: absolute;
  right:24px;
 }
  
  .container2 #text{
    margin-top:50px;
    margin-left: 45px;
    text-align:center;
    font-size:32px;
  }
  .container2 #text #span{
    width:263px;
    font-size: 14px;
} 
  
  #bottom-grid-container{
    margin-top:230px;
    text-align: center;
margin-left: 35px;
  }
  #bottom-grid-container #span1{
     font-size: 24px;
    width: auto;
  }
   #bottom-grid-container #span2{
    width: 281px;;
     font-size: 14px;
     
  }
  
  
}


/* Tablet screen size page  view  900px*/

@media only screen and (min-width:481px) and (max-width: 1024px) {

  #main-container{
    margin: 40px 60px 20px 39px;
  }
  
  header #button {
    position:absolute;
   right: 60px;
  }
  
  #text1{ 
  width: 399px;
    font-size:48px;
    margin-top: 60px;
  }
  #text1 #button {
  height:48px;
    padding: 15px;
  }
  
  #release-date{
  margin-left: 25px;
}
  
  
  #img{
    position: absolute;
    height: 421px;
    max-width: 430px; /*478px;*/
    right: 0px;
    border-radius: 10px 0px 0px 10px;
  } 
  
  #button-like-edge-right{
    display:none;
  }
  
  .container2{
/*     position: relative; */
  margin-top: 120px;
  }
  
  .container2 #button-like-edge-left{
    display: none;
  }
  
  .container2 #phone-and-keyboard{
  width: 240px;
  height:320px;
  } 
  
#phone-and-keyboard-overlay {
width: 240px;
  height:320px;
margin: -323px 0px 0px 0px;
}


  
 .container2 #glass-and-keyboard{
 width: 445px; /*545px;*/
   height:320px;
   position:absolute;
   right:60px;
 /* margin-left: 80px; */
 }
  
  .container2 #text{
    display:flex;
    margin-top:80px;
    width:900px;
  }
  
  .container2 #text #span{
 margin-left:130px;
  }

  
  #bottom-grid-container{
    margin-top:142px;
    column-gap: 140px;
    
  }
  
  #bottom-grid-container #span2{
    width: 281px;
  }
  footer{
margin-top:120px; 
}
}



/* Bigger Tablet screen size page  view*/

@media only screen and (min-width:901px) and (max-width: 1024px) {
  
  #text1 #button {
  padding: 8px;
  }
  
  #img{
/*     position: absolute; */
    height: 425px;
    width: 478px;
  }
  
  .container2 #glass-and-keyboard{
 width: 545px;
  }
  
  .container2 #text #span{
 margin-left:250px;
  }
  
  #bottom-grid-container{
/*     margin-top:142px; */
    column-gap: 260px;
    
  }
  
}



/* Desktop or laptop screen size page  view. min-width:1025px*/

@media only screen and (min-width:1025px) {
 
  #main-container{
    margin: 55px 165px 20px 165px;
  } 
  
  #text1{ 
    margin-top:10px;
  width: 445px;
    font-size: 56px;
  }
  
   #text1 #span{
font-size: 18px;
  }
  
  #text1 #button {
  height:48px;
  padding: 15px;
  }
  
  #release-date{
  margin-left:auto;
}
  
  
  
  #img{
    position: absolute;
    width: 540px;
    height: 480px;
    right: 165px;
  } 
  
 #button-like-edge-right{
   position: absolute;
    right: 0px;
width: 120px;
  }
  
  .container2{
    margin-top: 150px;
  }
  
  .container2 #button-like-edge-left{
    position: absolute;
   left: 0px;
    top: 910px;
  }
  
  .container2 #phone-and-keyboard{
  width: 255px;
  height:480px;
  } 
  
#phone-and-keyboard-overlay {
width: 255px;
  height:480px;
margin-top: -482px;
}
  
 .container2 #glass-and-keyboard{
 width: 445px;
   height:480px;
 margin-left: 50px;
 }
  
  .container2 #text{
    position: absolute;
    width:255px;
    margin-top:142px;
    right: 165px;
  }
  
  
  
  #bottom-grid-container{
    display:flex;
    margin-top:168px;
    column-gap: 35px;
  }
  
  #bottom-grid-container #span2{
    width: 250px;
  }
  
  footer{
margin-top:120px; 
}
}

