/* CSS styles */


html, body {
  width:100%;
overflow-x: hidden;
}

body{
font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight:400;
  background-color: #FFF;
  
}




* {
  box-sizing: border-box;
}


#main-container{
/*  width:90%;  100% */
  margin: 20px 30px;
  height: auto;
 
}

header{
width: auto;
height: 48px;
  margin: auto; 
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
/*   background-color: red; */
}
  
  header #logo{
width: 40px;
height: 40px;
}
  
header #button{
  height:inherit;
  padding: 15px;
  border-radius: 8px;
  border:none;
  background-color: #E8EFF2;
  color: #162542;
  font-size:16px;
  
}

header #button:hover{
background-color:#162542;
  color: #FFF;
}


  .container1{
/*   width: auto; 70%; */
  height: auto;
  left: auto;
  margin-top: 15%;
  
}


#icon-container{
  
width: 65px;
height: 65px;
margin: 0px;
  background-color: #F16718;
  border:none;
  border-radius:10px;
  
}
  
.icon-resize{
width: 50;
  height:50;
  padding: 15px;
  display:flex;
  justify-content:center;
}

/* phone view*/

@media only screen and (min-width:250px) and (max-width: 480px) {
 
 #main-container{
  margin: 20px;
}
  
  header #button {
  margin-right: 30px;
}

  #text1{
  color:#162542;
  font-size:46px;
    font-weight:800;
width: 322px;
}
  
  #text1 #span{
font-size: 15px;
    font-weight:400;
line-height: 26px;
  position: relative;
  top: 15px;
  color:#7B8BAD;
}
  
#text1 #button {
  height:48px;
  padding: 8px;
  border-radius: 8px;
  border:none;
  background-color: #F16718;
  color:#FFF;
  font-size:16px;
}

#text1 #button:hover{
  background-color:#ED872D;
}



  #release-date{
  font-size:16px;
  color:#7B8BAD;
  margin-left: 15px;
}
  
  .button-release-date-align{
  display: flex;
  align-items: center;
}


  
  #img{
  width: auto;
  height: 331px;
  border-radius: 10px;
    margin-top: 50px;
}



#button-like-edge-right{
  display:none;
  }
  
/* second container */

 .container2{
   margin-top: 50px;
   display:flex; 
}
  
 .container2 #button-like-edge-left{
   display: none;  
  }

  
.container2 #phone-and-keyboard{
width: 135px;
height: 193px;
border-radius:0px 20px 20px 0px;
  margin-left: -45px;
}
  
#phone-and-keyboard-overlay {
background: #f16718;
height: 193px;
width: 135px;
margin: -195px 0px 0px -45px;
opacity: 1;
mix-blend-mode: multiply;
border-radius:0px 20px 20px 0px;
}


 .container2 #glass-and-keyboard{
width: 250;
height: 193px;
margin-left: 50px;
border-radius: 20px;

}

.container2 #text{
  font-size:32px;
  line-height: 36px;
  font-weight:800;
   text-align: center;
  color:#162542;
position: absolute;
width: 255px;
height: 108px;
 margin:250px 15px 0px 0px;
  
}
  
.container2 #text #span{
  font-size:16px;
  font-weight:400;
  line-height: 26px;
  color:#7B8BAD;
width: 327px;
height: 104px;
  margin:20px 0px 0px -7px;
} 

/*   end of second container */



/* bottom container begins here*/

#bottom-grid-container{
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  gap: 20px;
grid-column-gap: 80px;
  margin:350px 10px 0px 0px;
  align-items:center;
  
}
  
.grid-item1 {
  color:#162542;
  border:none; 
  position:relative;
  width: 250px;
  text-align:center;
}
.grid-item2 {
  color:#162542;
  border:none; 
   position:relative;
   top:300px;
  left: -360px;
width: 300px;
  text-align:center;
}
.grid-item3 {
  color:#162542;
  border:none; 
  position:relative;
  top:600px;
 left: -720px;
width: 300px;
  text-align:center;
}

.grid-item4 {
  color:#162542;
  border:none; 
  position:relative;
  top:900px;
  left: -1080px;
width: 300px;
  text-align:center;
}
  
  
  #icon-container{
margin-left: 110px;
}
  
  
#bottom-grid-container #span1{
  position: relative;
  right: 25px;
width: 327px;
height: 56px;
  font-size:24px;
  font-weight:800;
  color:#162542;
  font-weight: 900;
  line-height: 28px;
 
}
  
#bottom-grid-container #span2{
  position: relative;
width: 322px;
height: 104px;
  font-size:16px;
  font-weight:400;
  color:#7B8BAD;
  line-height: 26px;
}

 
footer{
  font-size:16px;
  color:#7B8BAD;
width: 280px;
height: 26px;
margin:1000px 0px 0px 40px; 

}
  
}





/* Tablet screen size page  view*/

@media only screen and (min-width:481px) and (max-width: 900px) {
  

  #main-container{
/*     width:90%; */
  margin: 39px 0px 20px 39px;
}
  
  header{
/*  margin-left: 10px; */
  }
  
  header #button {
    margin-right: 15px;
    
  } 
  
   .container1{
 display:flex;
  
}
  
  #text1{
  color:#162542;
  font-size:48px;
line-height: inherit;
width: 327px;
    
}
  
  #text1 #span{
font-size: 16px;
line-height: 26px;
  position: relative;
  top: 15px;
  color:#7B8BAD;
}
  
#text1 #button {
  height:58px;
   width: 177px;
  padding: 3px;
  border-radius: 8px;
  border:none;
  background-color: #F16718;
  color:#FFF;
  font-size:16px;
}

#text1 #button:hover{
  background-color:#ED872D;
}



  #release-date{
  font-size:16px;
  color:#7B8BAD;
  margin-left: 35px;
    width: 170px;
}
  
  .button-release-date-align{
  display: flex;
  align-items: center;
}


  
  #img{
  width: 478;
  height: 425px;
  border-radius: 10px;
    margin-top: 0px;
    margin-left: 140px;
    position: relative;
    top:-30px;
}



#button-like-edge-right{
  display:none;
  }
  
/* second container */

 .container2{
   margin-top: 30px;
/*    margin-left: 10px; */
   display:flex; 
   
}
  
 .container2 #button-like-edge-left{
   display: none;  
  }

  
.container2 #phone-and-keyboard{
width: 214;
height: 320px;
border-radius:20px;
  margin-left: 0px;
  
}
  
#phone-and-keyboard-overlay {
background: #f16718;
height: 320px;
width: 214;
margin: -322px 0px 0px 0px;
opacity: 1;
mix-blend-mode: multiply;
border-radius:20px;
}


 .container2 #glass-and-keyboard{

width: 460px;
height: 320px;
margin-left: 60px;
border-radius: 20px;

}



.container2 #text{
  font-size:32px;
  line-height: 36px;
   text-align: center;
  color:#162542;
position: absolute;
width: 255px;
height: 108px;
 margin:400px 0px 0px -20px;
  
}
  
.container2 #text #span{
  font-size:16px;
  line-height: 26px;
  color:#7B8BAD;
  text-align: justify;
width: 398px;
height: 104px;
   margin:-90px 0px 0px 300px; 

} 

/* end of second container



bottom container begins here */

#bottom-grid-container{
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  gap: 15px;
grid-column-gap: 120px;
  margin:300px 0px 0px 0px;
  
}
  
.grid-item1 {
  color:#162542;
  border:none; 
  width: 250px;
}
.grid-item2 {

  color:#162542;
  border:none; 
width: 300px;
  margin-left: 20px;
}

.grid-item3 {
  color:#162542;
  border:none; 
  position:relative;
  top:300px;
 left: -792px;
width: 300px;
 
}

.grid-item4 {
  color:#162542;
  border:none; 
  position:relative;
  top:300px;
  left: -772px;
width: 300px;
  
}
  
  
  
#bottom-grid-container #span1{
width: 327px;
height: 56px;
  font-size:24px;
  color:#162542;
  font-weight: 900;
  line-height: 28px;
}
  
#bottom-grid-container #span2{
width: 281px;
height: 104px;
  font-size:16px;
  color:#7B8BAD;
  line-height: 26px;
  
}

 
footer{
  font-size:16px;
  color:#7B8BAD;
  position: absolute;
width: 280px;
height: 26px;
margin:400px 0px 0px 200px; 

}
 
}


/* Bigger Tablet screen size page  view*/

@media only screen and (min-width:901px) and (max-width: 1024px) {

#main-container{
/*     width:90%; */
  margin: 39px 0px 20px 39px;
}
  
  
  header #button {
    margin-right: 190px;
    
  } 
  
   .container1{
 display:flex;

}
  
  #text1{
  color:#162542;
  font-size:48px;
line-height: inherit;
width: 327px;
    
}
  
  #text1 #span{
font-size: 16px;
line-height: 26px;
  position: relative;
  top: 15px;
  color:#7B8BAD;
}
  
#text1 #button {
  height:58px;
   width: 177px;
  padding: 3px;
  border-radius: 8px;
  border:none;
  background-color: #F16718;
  color:#FFF;
  font-size:16px;
}

#text1 #button:hover{
  background-color:#ED872D;
}



  #release-date{
  font-size:16px;
  color:#7B8BAD;
  margin-left: 35px;
    width: 170px;
}
  
  .button-release-date-align{
  display: flex;
  align-items: center;
}


  
  #img{
  width: 478;
  height: 425px;
  border-radius: 10px;
    margin-top: 0px;
    margin-left: 140px;
    position: relative;
    top:-30px;
}



#button-like-edge-right{
  display:none;
  }
  
/* second container */

 .container2{
   margin-top: 30px;
   display:flex; 
   
}
  
 .container2 #button-like-edge-left{
   display: none;  
  }

  
.container2 #phone-and-keyboard{
width: 214;
height: 320px;
border-radius:20px;
  margin-left: 0px;
  
}
  
#phone-and-keyboard-overlay {
background: #f16718;
height: 320px;
width: 214;
margin: -322px 0px 0px 0px;
opacity: 1;
mix-blend-mode: multiply;
border-radius:20px;
}


 .container2 #glass-and-keyboard{

width: 460px;
height: 320px;
margin-left: 70px;
border-radius: 20px;

}



.container2 #text{
  font-size:32px;
  line-height: 36px;
   text-align: center;
  color:#162542;
position: absolute;
width: 255px;
height: 108px;
 margin:400px 0px 0px -20px;
  
}
  
.container2 #text #span{
  font-size:16px;
  line-height: 26px;
  color:#7B8BAD;
  text-align: justify;
width: 398px;
height: 104px;
   margin:-90px 0px 0px 310px; 

} 

/* end of second container



bottom container begins here */

#bottom-grid-container{
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  gap: 15px;
grid-column-gap: 130px;
  margin:300px 0px 0px 0px;
  
}
  
.grid-item1 {
  color:#162542;
  border:none; 
  width: 250px;
}
.grid-item2 {

  color:#162542;
  border:none; 
width: 300px;
  margin-left: 20px;
}

.grid-item3 {
  color:#162542;
  border:none; 
  position:relative;
  top:300px;
 left: -812px;
width: 300px;
 
}

.grid-item4 {
  color:#162542;
  border:none; 
  position:relative;
  top:300px;
  left: -792px;
width: 300px;
  
}
  
  
  
#bottom-grid-container #span1{
width: 327px;
height: 56px;
  font-size:24px;
  color:#162542;
  font-weight: 900;
  line-height: 28px;
}
  
#bottom-grid-container #span2{
width: 281px;
height: 104px;
  font-size:16px;
  color:#7B8BAD;
  line-height: 26px;
  
}

 
footer{
  font-size:16px;
  color:#7B8BAD;
  position: absolute;
width: 280px;
height: 26px;
margin:400px 0px 0px 210px; 

}
 
}




 
/* Desktop or laptop screen size page  view. min-width:1025px*/

@media only screen and (min-width:1025px) {
  
  #main-container{
    margin: 50px 120px 0px 120px;

}
  
  header #button {
/*     margin-right: 165px; */
  }
  
   .container1{
/* margin: 0px; */
 display:flex;
  
}
  
  #text1{
  color:#162542;
  font-size:56px;
line-height: 56px;
width: 445px;
    
}
  
  #text1 #span{
font-size: 18px;
line-height: 26px;
  position: relative;
  top: 15px;
  color:#7B8BAD;
}
  
#text1 #button {
  height:58px;
   width: 175px;
  padding: 10px;
  border-radius: 8px;
  border:none;
  background-color: #F16718;
  color:#FFF;
  font-size:16px;
}

#text1 #button:hover{
  background-color:#ED872D;
}



  #release-date{
  font-size:16px;
  color:#7B8BAD;
  margin-left: 25px;
    width: 170px;
}
  
  .button-release-date-align{
  display: flex;
  align-items: center;
}


  
  #img{

  width: 540;
  height: 480px;
  border-radius: 10px;
    margin-top: 0px;
    margin-left: 250px; /*270px;*/
    position: relative;
    top:-30px;
}



#button-like-edge-right{
width: 255px;
height: 240px;
  background-color: #E8EFF2;
  border-radius: 20px 0px 0px 10px;
margin: -30px -255px 0px 30px;
  
  }
  
  
/* second container */

 .container2{
   margin-top: 0px;
   display:flex; 
   align-items: center;
   margin-left: -295px;

}
  
 .container2 #button-like-edge-left{
   width: 255px;
height: 240px;
   background-color: #E8EFF2;
  border-radius: 0px 20px 20px 0px;
  margin: 238px 0px 0px -10px;
   
  }

  
.container2 #phone-and-keyboard{
width: 255;
height: 480px;
border-radius:20px;
  margin-left: 30px;
  
}
  
#phone-and-keyboard-overlay {
background: #f16718;
height: 480px;
width: 255;
margin: -483px 0px 0px 30px;
opacity: 1;
mix-blend-mode: multiply;
border-radius:20px;
}


 .container2 #glass-and-keyboard{

width: 445px;
height: 480px;
margin-left: 40px;
border-radius: 20px;

}



.container2 #text{
  font-size:32px;
  line-height: 36px;
   text-align: center;
  color:#162542;
width: 255px;
height: 265px;
 margin-left:160px;
  
}
  
.container2 #text #span{
  font-size:16px;
  line-height: 26px;
  color:#7B8BAD;
  text-align: left;
width: 255px;
height: 130px;
   margin:27px; 

} 

/* end of second container



bottom container begins here */

#bottom-grid-container{
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  gap: 20px;
grid-column-gap: 25px;
  margin:250px 0px 0px 0px;
  
}
  
.grid-item1 {
  color:#162542;
  border:none; 
  width: 250px;
}
  
.grid-item2 {
  color:#162542;
  border:none; 
width: 300px;
}

.grid-item3 {
  color:#162542;
  border:none; 
width: 300px;
 
}

.grid-item4 {
  color:#162542;
  border:none; 
width: 300px;
}
  
  
  
#bottom-grid-container #span1{
width: 327px;
height: 56px;
  font-size:24px;
  color:#162542;
  font-weight: 900;
  line-height: 28px;
}
  
#bottom-grid-container #span2{
width: 255px;
height: 130px;
  font-size:16px;
  color:#7B8BAD;
  line-height: 26px;
  
}

 
footer{
  font-size:16px;
  color:#7B8BAD;
  position: absolute;
width: 280px;
height: 26px;
 margin:150px 0px 30px 35%;

}
  
}



